* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    width: 100%; 
    overflow: hidden scroll;   
    font-family: IBM Plex Sans;
}

/* Global */
.section {
    padding: 50px 0;
}

.header {
    font-size: 40px;
}


/*- Hero Section -*/

.main__wrapper {
    width: 100vw;
    height: 100vh;  
    position: relative;    
}

/*-- Main background --*/

.main__background {
    position: absolute;
    height: 100%;
    width: 100%;   
    z-index: -2;
}

.darken__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/*-- Navbar --*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    position: fixed;
    width: 100%;
    font-size: 18px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/*--- Navbar logo ---*/

.logo {
    margin-left: 50px;
    width: 70px;
    height: 70px;
}

.logo img {
    width: 100%;
    border-radius: 10px;
}

/*--- Navbar lists ---*/

.nav__list {
    margin-right: -100px;
    display: flex;
    flex-direction: row;    
    text-align: center;
    justify-content: center;
}

.nav__list li {
    list-style: none;
    margin: 2px 15px;
}

.nav__list li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px transparent;
    padding-bottom: 5px;
}

.nav__list li a:hover {
    border-bottom: 2px solid #fff;
}

/*--- Navbar "get now" button ---*/

.get__now {
    margin-right: -60px;
    width: 400px;
    text-align: center;  
}

.get__now a {
    color: #fff;
    text-decoration: none;
    border: solid; 
    border: 2px solid #fff;   
    border-radius: 25px; 
    padding: 10px 67px;    
    width: 400px;    
}

.get__now a:hover {
    color: #6c0081;
    background-color: #fff;
}

/* -- Main content --*/

.main__content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding-top: 100px;
    /*padding-bottom: 100px;  */
}

.content__wrapper {
    display: flex;
    flex-direction: column;    
    justify-content: flex-end;
    text-align: left;
    padding: 15px;
    width: 700px;
    margin-bottom: 5%;
}

.content__wrapper h1 {
    font-size: 50px;
    font-weight: 500;
}

.content__wrapper p {
    font-size: 18px;    
}

.content__btns {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;     
    text-align: center;
}

.content__btns a {
    text-decoration: none;
    border: 2px solid #fff;    
    font-size: 20px;
    padding: 10px 5px;
    min-height: 10px;
    min-width: 200px;             
    border-radius: 25px;    
    margin-right: 20px;    
}

.left__btn{
    color: #000;    
    background-color: #fff;
}

.left__btn:hover {
    color: #fff;
    background: transparent;
}

.right__btn{
    color: #fff;    
}

.right__btn:hover {
    color: #000;
    background: #fff;   
}

.hero__img {
    width: 35%;  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.phone__image {
    height: 60vh;
    margin-left: 0%;
}

/*-- Background image-styling: add rectangle at the bottom --*/

/* Defunct - hard to make it works across different screen resolution.
.triangle {
    padding-top: 2%;
    width: 0;
    height: 0;  
    border-bottom: 200px solid white;
    border-left: 1420px solid transparent;
    margin-bottom: -250px;
}
*/

/*===================================================*/

/*- Overview Section -*/

.section {
    padding-bottom: 80px ;
    width: 100%;
    height: 100%;   
    background: white;
}

.overview {
    text-align: center;
}

.overview__text {
    margin: 0px auto;
    margin-bottom: 60px; 
    width: 630px;     
    font-size: 18px;       
}

.overview__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 10px;    
}

.details__boxes {
    width: 300px;
    padding: 20px 10px;
    margin: 1px 10px;     
    font-size: 16px;
}

.fas {
    margin-top: 20px;    
    color:  #4776e6;
}

.details__boxes hr {
    width: 7%;
    border-top: 3px solid #4776e6;    
    margin-top: 30px;
}

.details__boxes h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

.details__boxes p {
    font-size: 16px;
}

.details__boxes:hover {
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}


/*- How It Works section -*/

.how_it_works {
    width: 100%;
    text-align: center;
    background-color: #6c0081;  
    color: #fff;
}

.how_it_works_text {
    width: 600px;
    margin: auto;
}

.how_it_works .images {
    margin: 100px auto;
    display: flex;
    justify-content: center;        
}

.how_it_works img {
    margin: 0 30px;
    align-self: center;
}

.how_it_works .features {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;    
}

.how_it_works .features .boxes {    
    width: 270px;
    z-index: -0;
}

.how_it_works .features >hr {
    position: absolute;
    width: 750px;
    margin-top: 22px;
    margin-left: 120px;
    border: none;
    border-top: 1px solid #fff;
}

.how_it_works .features .boxes hr {
    width: 5%;
}

.how_it_works .features .boxes .number{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c0081;    
}